@charset "utf-8";

/* CSS Document */
/* body {
	overflow: auto;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* overflow: auto; */

}

#email,
#telefone,
#formacao_para,
#sobre_para,
#experiencia_para,
#cargo_para {
	/* text-align: center;	 */
	text-align: justify;
	margin: 0 2%;
}

#perfil {
	text-align: center;
}

#link-email,
#link-fone,
#ir_formacao,
#ir_sobre,
#ir_experiencia,
#ir_cargo {
	text-decoration: none;
	color: #fff;
}

#nome {
	text-align: justify;
	font-size: 20px;
}

#cabecalho {
	height: 10%;
	background-color: rgb(58, 57, 57);
}

/*imagens flexiveis*/
img {
	max-width: 50%;
	height: 50%;
	border-radius: 50%;
	overflow: hidden;
}

body,
html {
	background: #f1f1f1;
	color: #fff;
	height: 100%;
	overflow: auto;
}

#principal {
	/* Largura máxima */
	max-width: 100%;
	/* max-height: 100%; */
	/* Alinha ao centro */
	margin: 0 auto;
	background: #fff;
	/* overflow: hidden; */
	height: 100%;
	/* overflow: auto; */
}

/* #logo {
	width: 100%;
	height: 15%;
} */

#conteudo {
	/* Largura */
	width: 30%;
	/* Alinha à esquerda */
	float: left;
	background-color: #3156d9;
	height: 100%;
}

.interno {
	padding: 10px;
}

#lateral {
	/* Largura */
	width: 70%;
	/* Alinha à direita */
	float: right;
	background: #fff8ff;
	/* rgb(25, 3, 44); */
	height: 100%;
	color: #202124;
}

/* #rodape {
	width: 100%;
	height: 5%;
	clear: both;
	background-color: #666;
	text-align: center;
} */

/*seletores para desktops*/
@media screen and (max-width: 1128px) {
	#conteudo {
		width: 70%;
		/* background: #F00; */
	}

	#lateral {
		width: 30%;
		/* background: rgb(151, 151, 26); */
	}
}

/*seletores para tablets*/
@media screen and (max-width: 768px) {
	#conteudo {
		width: 50%;
		/* background: #F0F; */
	}

	#lateral {
		width: 50%;
		/* background: #00f; */
	}
}

/*seletores para celurares*/
@media screen and (max-width: 520px) {
	#conteudo {
		width: 100%;
		/* background: rgb(76, 12, 12); */
		float: none;
		height: auto;
	}

	#lateral {
		width: 100%;
		/* background: rgb(118, 118, 24); */
		float: none;
		height: auto;
	}
}